{% extends "base.twig" %}

{% block title %}{{ meta.title }}{% endblock %}
{% block head %}
  {{ parent() }}
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
      skipTags: ["script","noscript","style","textarea","pre","code"]
    }
  });
  </script>
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block content %}
  {% set breadcrumb %}
    <a href="{{ url_for('blog') }}" class="unstyled">Blog</a> / {{ meta.slug }}
  {% endset %}
  {{ parent() }}
  <div class="row">
    <div class="col-12">
      <div class="headline">
        <h1>{{ meta.title }}</h1>
        <span class="subtitle">
          {{ meta.author }} | {{ meta.date|date("d.m.Y") }}
        </span>
      </div>

      <br />

      {{ content|raw }}
    </div>
  </div>
{% endblock %}