{% extends "base.twig" %}

{% block title %}{{ meta.title }}{% endblock %}
{% block semantic %}

  <meta name="keywords" content="{{ meta.tags|join(', ') }}" />
  <meta name="description" content="{{ meta.preview_text }}" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@chrisonntag">
  <meta name="twitter:title" content="{{ meta.title }}">
  <meta name="twitter:description" content="{{ meta.preview_text }}">
  <meta name="twitter:image" content="{{ full_url_for('article_static', {'slug': meta.slug}) }}/{{ meta.image }}">
  <!-- Open Graph Protocol -->
  <meta property="og:title" content="{{ meta.title }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ full_url_for('article', {
    'slug': meta.slug,
    'year': meta.date|date('Y'),
    'month': meta.date|date('m'),
    'day': meta.date|date('d')
  }) }}">
  <meta property="og:image" content="{{ full_url_for('article_static', {'slug': meta.slug}) }}/{{ meta.image }}">
  <meta property="og:description" content="{{ meta.preview_text }}">

  <meta property="og:site_name" content="Christoph Sonntag - Blog">
  <meta property="article:published_time" content="{{ meta.date|date('Y-m-d') }}">
  <meta property="article:author" content="https://christophsonntag.com">
  <meta property="article:tag" content="{{ meta.tags|join(', ') }}">

{% endblock %}
{% block head %}
  {{ parent() }}
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
      skipTags: ["script","noscript","style","textarea","pre","code"]
    }
  });
  </script>
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <style>
    ul, ol {
      list-style: initial;
      padding-left: revert;
    }
  </style>
{% endblock %}

{% block content %}
  {% set breadcrumb %}
    <a href="{{ url_for('home') }}" class="unstyled">Home</a> / <a href="{{ url_for('blog') }}" class="unstyled">Blog</a> / {{ meta.slug }}
  {% endset %}
  {{ parent() }}
  <div itemscope itemtype="https://schema.org/BlogPosting" class="container">
    <div class="row">
      <div class="col-8">
        <div class="headline">
          <h1 itemprop="headline" class="serif">{{ meta.title }}</h1>
          <p class="subtitle">
            <span itemprop="author" itemscope itemtype="https://schema.org/Person">
              <a href="{{ full_url_for('home') }}" itemprop="url">
                <span itemprop="name">{{ meta.author }}</span>
              </a>
            </span> |
            <span>
              {{ meta.date|date("d.m.Y") }}
            </span>
            <meta itemprop="datePublished" content="{{ meta.date|date("c") }}" />
          </p>
          <p itemprop="abstract" class="article-abstract">
            {{ meta.preview_text }}
          </p>
          {% if meta.tags|length > 0 %}
            <p>
              {% for tag in meta.tags %}
                <a href="#" class="tag">
                  {{ tag }}
                </a>
              {% endfor %}
              <meta itemprop="keywords" content="{{ meta.tags|join(', ') }}" />
            </p>
          {% endif %}
        </div>
      </div>
      <div class="col-4 article-preview">
        <figure class="preview-figure">
          <img itemprop="image" class="preview-image" src="{{ full_url_for('article_static', {'slug': meta.slug}) }}/{{ meta.image }}" />
        </figure>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12">
        <div itemprop="articleBody">
          {{ content|raw }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}