<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" data-theme="light">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} – Christoph Sonntag</title>

    <!-- Semantic -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chrisonntag">
    <meta name="twitter:title" content="Christoph Sonntag">
    <meta name="twitter:description"
          content="software engineer, music, python, java, go, django, ...">
    <meta name="twitter:image" content="https://christoph.snn.tg/images/cs.jpg">
    <!-- Facebook -->
    <meta property="og:url" content="https://christoph.snn.tg">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Christoph Sonntag">
    <meta property="og:description"
          content="software engineer, music, python, java, go, django, ...">
    <meta property="og:image" content="https://christoph.snn.tg/images/cs.jpg">

    <link rel="canonical" href="https://christoph.snn.tg">

    <link rel="shortcut icon" href="{{ base_url() }}/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/simple-grid.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/main.css">
  {% endblock %}
</head>
<body class="loading">
{% block body %}

  <header id="header">

    <div class="header-main">
        <div class="box-left">
          <div class="item">
            <a class="logo" href="{{ path_for('home') }}"><img alt="Christoph Sonntag" src="{{ base_url() }}/images/pagelogo.svg"></a>
          </div>
        </div>

      <div class="box-middle"></div>

      <div class="box-right">
        <div>
          <div class="mobile item mobile-nav-button">
            <input id="burger" onclick="slideToggle('navigation-list')" type="checkbox" value="0"/>
            <label for="burger">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
        </div>
        <ul class="nav">
          <li {% if is_current_path('home') %}class="active item"{% else %}class="item"{% endif %}>
            <a href="{{ path_for('home') }}">
              <span class="material-icons-round">home</span>
            </a>
          </li>
          <li {% if is_current_path('links') %}class="active item"{% else %}class="item"{% endif %}>
            <a href="{{ path_for('links') }}">
              Links
            </a>
          </li>
          <li {% if is_current_path('contact') %}class="active item"{% else %}class="item"{% endif %}>
            <a href="{{ path_for('contact') }}">
              Contact
            </a>
          </li>
          <li class="item">
            <div class="scroller">
              <a target="_blank" href="https://open.spotify.com/playlist/4PbqKGbteDh1Mnr0xtuZoV?si=uDYSZRU8TGqzmym9z7icMQ">
                  inbox playlist - follow and add songs to it
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <ul id="navigation-list" class="nav mobile">
    <li {% if is_current_path('home') %}class="active item"{% else %}class="item"{% endif %}>
      <a href="{{ path_for('home') }}">
        <span class="material-icons-round">home</span>
      </a>
    </li>
    <li {% if is_current_path('links') %}class="active item"{% else %}class="item"{% endif %}>
      <a href="{{ path_for('links') }}">
        Links
      </a>
    </li>
    <li {% if is_current_path('contact') %}class="active item"{% else %}class="item"{% endif %}>
      <a href="{{ path_for('contact') }}">
        Contact
      </a>
    </li>
  </ul>

  <main class="main">
    {% block content %}
      <div class="container-b">
        <div class="row breadcrumbs">
          <div class="col-12">
            <span class="breadcrumb text-inline"></span>
            <h5 class="text-inline">
              {{ breadcrumb }}
            </h5>
          </div>
        </div>
      </div>
    {% endblock %}
  </main>

  <br/>
  <br/>
  <br/>

  <div class="container">
    <div class="row desktop-only">
      <div class="col-6">
          <a href="{{ path_for('newsletter') }}" class="outline-hover">
            <h1 class="serif">Join my Newsletter</h1>
          </a>
      </div>
      <div class="col-6">
        <p>
          You can expect irregularly published notes on current world events, memes, short stories,
          Wikipedia articles and essays from various renowned guest writers.<br/>
        </p>
        <p>Make sure not to <a href="{{ path_for('newsletter') }}">miss it</a>!</p>
      </div>
    </div>
  </div>

  {% block footer %}
    <footer>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <p>
              <a class="logo" href="{{ path_for('home') }}"><img src="{{ base_url() }}/images/pagelogo_white.svg"></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>
              Feel free to contact me anytime over mail or using the
              <a href="{{ path_for('contact') }}">contact</a> form.
            </p>
          </div>
          <div class="col-3">
            <h4>Content</h4>
            <ul>
              <li><a href="{{ path_for('home') }}#about">About</a></li>
              <li><a href="{{ path_for('links') }}">Links</a>
              </li>
              <li>
                <a href="{{ path_for('contact') }}">Contact</a></li>
              <li><a href="https://paypal.me/chrisonntag/2.50" target="_blank">Buy me a coffee</a></li>
            </ul>
          </div>
          <div class="col-3">
              <h4>Social</h4>
              <ul>
                <li>
                  <ul class="social">
                    <li>
                      <a href="https://linkedin.com/in/christophsonntag" target="_blank">
                        LinkedIn
                      </a>
                    </li>
                    <li>
                      <a href="https://instagram.com/christophsonntag_" target="_blank">
                        Instagram
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/chrisonntag" target="_blank">
                        GitHub
                      </a>
                    </li>
                    <li>
                      <a href="https://open.spotify.com/playlist/4PbqKGbteDh1Mnr0xtuZoV?si=uDYSZRU8TGqzmym9z7icMQ"
                         target="_blank" class="spotify">
                        Spotify
                      </a>
                    </li>
                    <li>
                      <div class="scroller">
                        <h6>
                          inbox playlist - follow and add songs to it
                        </h6>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <h4>Legal</h4>
            <ul>
              <li><a href="{{ path_for('imprint') }}">Imprint</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p class="small">
              &copy; Christoph Sonntag 2021. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}

{% endblock %}

<script src="{{ base_url() }}/js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
