<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" data-theme="light">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} – Christoph Sonntag</title>

    {% block semantic %}
    <!-- Semantic -->
    <meta name="keywords" content="software engineer, data science, deep learning, music, python, scala, django" />
    <meta name="description" content="I'm a Masters student in Computer Science at the University of Vienna,
    specializing in security of deep learning and responsible AI. At the same time, I'm also interested in a broader
    view on AI, taking into account the ethical, legal, and social aspects in its development and usage." />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chrisonntag">
    <meta name="twitter:title" content="Christoph Sonntag">
    <meta name="twitter:description"
          content="CS Master's student @UniVienna | Backdoor Attacks on federated NLP models | Full-Stack developer | Ethical tech advocate | Musician | Film buff">
    <meta name="twitter:image" content="https://christoph.snn.tg/images/cs_quad.JPG">
    <!-- Facebook -->
    <meta property="og:url" content="https://christoph.snn.tg">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Christoph Sonntag">
    <meta property="og:description" content="CS Master's student @UniVienna | Backdoor Attacks on federated NLP models | Full-Stack developer | Ethical tech advocate | Musician | Film buff">
    <meta property="og:image" content="https://christoph.snn.tg/images/cs_quad.JPG">
    {% endblock %}


    <link rel="shortcut icon" href="{{ base_path() }}/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ base_path() }}/css/simple-grid.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path() }}/css/main.css">
  {% endblock %}
</head>
<body class="loading">
{% block body %}

  {% block header %}
  <header id="header">

    <div class="header-main row">
        <div class="box-left col-6">
          <div class="item">
            <a class="logo" href="{{ url_for('home') }}"><img alt="Christoph Sonntag" src="{{ base_path() }}/images/pagelogo_white.svg"></a>
          </div>


        </div>

      <!-- <div class="box-middle"></div> -->

      <div class="box-right col-6">

        <ul class="nav">
          <li {% if is_current_url('home') %}class="active item"{% else %}class="item"{% endif %}>
            <a href="{{ url_for('home') }}">
              Home
            </a>
          </li>
          <li {% if is_current_url('links') %}class="active item"{% else %}class="item"{% endif %}>
            <a href="{{ url_for('links') }}">
              Links
            </a>
          </li>
          <li {% if is_current_url('contact') %}class="active item"{% else %}class="item"{% endif %}>
            <a href="{{ url_for('contact') }}">
              Contact
            </a>
          </li>
          <li class="item scroller desktop-only">
              <a target="_blank" href="https://open.spotify.com/playlist/4PbqKGbteDh1Mnr0xtuZoV?si=uDYSZRU8TGqzmym9z7icMQ">
                  inbox playlist - follow and add songs to it
              </a>
          </li>
        </ul>
        <div class="item mobile-nav-button mobile">
          <input id="burger" onclick="slideToggle('navigation-list')" type="checkbox" value="0"/>
          <label for="burger">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
      </div>

    </div>
  </header>
  {% endblock %}

  <ul id="navigation-list" class="nav mobile">
    <li {% if is_current_url('home') %}class="active item"{% else %}class="item"{% endif %}>
      <a href="{{ url_for('home') }}">
        <span class="material-icons-round">Home</span>
      </a>
    </li>
    <li {% if is_current_url('links') %}class="active item"{% else %}class="item"{% endif %}>
      <a href="{{ url_for('links') }}">
        Links
      </a>
    </li>
    <li {% if is_current_url('contact') %}class="active item"{% else %}class="item"{% endif %}>
      <a href="{{ url_for('contact') }}">
        Contact
      </a>
    </li>
  </ul>

  <main class="main">
    {% block content %}
      <div class="container-b">
        <div class="row breadcrumbs">
          <div class="col-12">
            <span class="breadcrumb text-inline"></span>
            <h5 class="text-inline">
              {{ breadcrumb }}
            </h5>
          </div>
        </div>
      </div>
    {% endblock %}
  </main>

  <br/>
  <br/>
  <br/>

  {% block newsletter %}
  <div class="container">
    <div class="row desktop-only">
      <div class="col-6">
          <a href="{{ url_for('newsletter') }}" class="outline-hover">
            <h1 class="serif">Join my Newsletter</h1>
          </a>
      </div>
      <div class="col-6">
        <p>
          You can expect irregularly published notes on current world events, memes, short stories,
          Wikipedia articles and essays from various renowned guest writers.<br/>
        </p>
        <p>Make sure not to <a href="{{ url_for('newsletter') }}">miss it</a>!</p>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
    <footer>
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <p>
              <a class="logo" href="{{ url_for('home') }}"><img src="{{ base_path() }}/images/pagelogo_white.svg"></a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <p>
              Feel free to contact me anytime over mail or using the
              <a href="{{ url_for('contact') }}">contact</a> form.
            </p>
          </div>
          <div class="col-3">
            <h4>Content</h4>
            <ul>
              <li><a href="{{ url_for('home') }}#about">About</a></li>
              <li><a href="{{ url_for('links') }}">Links</a>
              </li>
              <li>
                <a href="{{ url_for('contact') }}">Contact</a>
              </li>
              <li><a href="https://paypal.me/sonntagch/3.50" target="_blank">Buy me a coffee</a></li>
            </ul>
          </div>
          <div class="col-3">
            <h4>Social</h4>
              <ul class="social">
                <li>
                  <a href="https://linkedin.com/in/christophsonntag" target="_blank">
                    LinkedIn
                  </a>
                </li>
                <li>
                  <a href="https://instagram.com/christophsonntag_" target="_blank">
                    Instagram
                  </a>
                </li>
                <li>
                  <a href="https://github.com/chrisonntag" target="_blank">
                    GitHub
                  </a>
                </li>
                <li>
                  <a href="https://open.spotify.com/playlist/4PbqKGbteDh1Mnr0xtuZoV?si=uDYSZRU8TGqzmym9z7icMQ"
                     target="_blank" class="spotify">
                    Spotify
                  </a>
                </li>
                <li>
                  <div class="scroller">
                    <h6>
                      inbox playlist - follow and add songs to it
                    </h6>
                  </div>
                </li>
              </ul>
          </div>
          <div class="col-2">
            <h4>Legal</h4>
            <ul>
              <li><a href="{{ url_for('imprint') }}">Imprint</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <p class="small">
              &copy; Christoph Sonntag 2023. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}

{% endblock %}

<script type="module" src="{{ base_path() }}/js/main.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
