<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} – Christoph Sonntag</title>

    <!-- Semantic -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@chrisonntag">
    <meta name="twitter:title" content="Christoph Sonntag">
    <meta name="twitter:description"
          content="software engineer, music, python, java, go, django, ...">
    <meta name="twitter:image" content="https://christoph.snn.tg/images/cs.jpg">
    <!-- Facebook -->
    <meta property="og:url" content="https://christoph.snn.tg">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Christoph Sonntag">
    <meta property="og:description"
          content="software engineer, music, python, java, go, django, ...">
    <meta property="og:image" content="https://christoph.snn.tg/images/cs.jpg">

    <link rel="canonical" href="https://christoph.snn.tg">

    <link rel="shortcut icon" href="{{ base_url() }}/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/simple-grid.min.css">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/main.css">

    <script src="{{ base_url() }}/js/app.js" type="text/javascript"></script>
  {% endblock %}
</head>
<body>

<nav class="container navigation">
  <div class="row">
    <div class="col-12">
      <div class="header">
        <a class="logo" href="{{ path_for('home') }}"><img src="{{ base_url() }}/images/pagelogo.svg"></a>
        <div class="mobile mobile-nav-button">
          <input id="burger" onclick="slideToggle('navigation-list')" type="checkbox" value="0" />
          <label for="burger">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
      </div>
      <ul class="spaced-m nav" id="navigation-list">
        <li {% if is_current_path('home') %}class="active"{% endif %}><a href="{{ path_for('home') }}">Home</a></li>
        <li><a href="{{ path_for('home') }}#about">About</a></li>
        <li {% if is_current_path('links') %}class="active"{% endif %}><a href="{{ path_for('links') }}">Links</a></li>
        <li {% if is_current_path('contact') %}class="active"{% endif %}><a href="{{ path_for('contact') }}">Contact</a></li>
        <li class="desktop-only surpress-numbering">
          <ul class="social">
            <li>
              <a href="https://instagram.com/chrisonntag" target="_blank">
                <img src="{{ base_url() }}/images/instagram.svg" width="18rem" class="icon" alt="Instagram" />
              </a>
            </li>
            <li>
              <a href="https://github.com/chrisonntag" target="_blank">
                <img src="{{ base_url() }}/images/github.svg" width="18rem" class="icon" alt="GitHub" />
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row sidebar-footer desktop-only">
    <div class="col-12">
      <a href="https://open.spotify.com/playlist/4PbqKGbteDh1Mnr0xtuZoV?si=uDYSZRU8TGqzmym9z7icMQ" target="_blank" class="spotify">
        <h6>
          <img src="{{ base_url() }}/images/spotify.svg" width="15.0rem" class="icon">
          <span>
            inbox - follow and add songs to the playlist
          </span>
        </h6>
      </a>
    </div>
  </div>
</nav>

<main class="container main">
  {% block content %}
  <div class="row breadcrumbs">
    <div class="col-12">
      <span class="breadcrumb text-inline"></span>
      <h5 class="text-inline">
        {{ breadcrumb }}
      </h5>
    </div>
  </div>
  {% endblock %}

  <footer class="row">
    <div class="col-12">
      {% block footer %}
        <a href="mailto:forename at snn.tg" target="_blank">Contact</a>
        or stand a <a href="https://paypal.me/chrisonntag/2.50" target="_blank">Coffee</a>.
        <a href="{{ path_for('imprint') }}" style="float: right;">Imprint</a>
      {% endblock %}
    </div>
  </footer>
</main>

</body>
</html>