{% extends "base.twig" %}

{% block title %}Blog{% endblock %}
{% block head %}
  {{ parent() }}
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
      skipTags: ["script","noscript","style","textarea","pre","code"]
    }
  });
  </script>
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block content %}
  {% set breadcrumb = "Blog" %}
  {{ parent() }}
  <div class="container">

    {% set cols = 3 %}
    {% for article in articles %}
      {% if loop.index0 % cols == 0 %}
        <div class="row">
      {% endif %}
      <div class="col-{{ 12/cols }}">
        <div class="masonry-inner">
          <div class="article-preview">
            <a href="{{ url_for('article', {'slug': article.meta.slug}) }}" title="{{ article.preview_text|striptags }}">
              <img class="preview-image" src="{{ url_for('article_static', {'slug': article.meta.slug}) }}/{{ article.meta.image }}" alt="{{ article.preview_text|striptags }}" />
              <h4 class="base-heading article-preview-title">{{ article.meta.title }}</h4>
            </a>
            <!--
            {% for tag in article.meta.tags %}
              <a href="#" class="tag">{{ tag }}</a>
            {% endfor %}
            -->
          </div>
        </div>
      </div>
      {% if (loop.index0 % cols == cols - 1 or loop.last) %}
        </div>
      {% endif %}
    {% endfor %}

  </div>

{% endblock %}